---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
AlignOperands: true
AlignTrailingComments: true
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: Yes
BraceWrapping: 
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBraces: Custom
ColumnLimit: 0
BreakConstructorInitializers: AfterColon
MaxEmptyLinesToKeep: 2
NamespaceIndentation: Inner
SortIncludes: false
...

Language: ObjC